<!DOCTYPE html>
<html>
  <head>
    <title>Restoran Apps</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Restaurant Around You" />
    <link rel="icon" href="/icons/favicon.ico" />
    <link rel="manifest" href="/webmanifest.json" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
    </style>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <button
        id="skip-to-content"
        tabindex="1"
        class="skip-to-content"
        href="#content"
      >
        Skip To Content
      </button>
      <div class="container">
        <h1><a href="">PINARPRAJA.</a></h1>
        <button class="menu">
          <ion-icon name="menu-outline"></ion-icon>
        </button>
        <div class="navbar">
          <a href="#">Home</a>
          <a href="#/favorite">Favorite</a>
          <a href="https://github.com/zulfakhn">About</a>
        </div>
      </div>
    </header>

    <main>
      <div id="content">
        <div class="card-container"></div>
      </div>
    </main>
    <footer>
      <p>© 2022 by Zulfa Khoirun Nisa, PINARPRAJA</p>
    </footer>
  </body>
</html>
